body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

button {
    border: none;
    background: none;
}

.sidebar, 
.main {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: rgb(235, 235, 235);
}

.sidebar-items, 
.home-view {
    padding: 50px;
}

.sidebar-item, 
.task {
    display:flex;
    gap: 5px;
    align-items: center;
}

.sidebar-footer,
.home-footer {
    margin-top: auto;
    border-top: 1px solid rgb(177, 177, 177);
    padding: 18px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-view {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

