body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

button {
    border: none;
    background: none;
}

.icon {
    height: 30px;
}

.small-icon {
    height: 20px;
}

.sidebar, 
.main {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: rgb(235, 235, 235);
}

.sidebar-items, 
.home-view {
    padding: 50px;
}

.sidebar-item, 
.task {
    display:flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0;
    height: 20px;
}

.task > .task-buttons {
    margin-left: auto;
    display: none;
}

.task:hover > .task-buttons {
    display: inline-block;
}

.task:hover {
    background-color: #ebebeb;
}

.sidebar-footer,
.home-footer {
    margin-top: auto;
    border-top: 1px solid #b1b1b1;
    padding: 18px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    position: relative;
}

.home-view {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-view[open] {
    position: absolute;
    top: 30%;
    border: 1px solid  #ebebeb;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dialog-header {
    margin-bottom: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#task-name-input, 
#task-desc-input {
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}

.dialog-footer {
    margin-top: auto;
    border-top: 1px solid rgb(177, 177, 177);
    /* background-color: rgb(235, 235, 235); */
    padding: 10px;
    height: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

